.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  1.5rem;
    text-align: center;
    width: fit-content;
    background: linear-gradient(rgba(18, 18, 45, 0.7), #29191b), url(/src/assets/hero.jpg);
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
}
#hero{
    scroll-margin-top: 30px;
}
.hero-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 0 0;
    gap: 1rem;
    width: 60%;
    padding: .5rem;
    background: rgba(37, 37, 40, 0.7);
    background-size: cover;
    border: 2px solid transparent;
}
.hero-top h3{
    font-size: 2rem;
    font-weight: 800;
    color: white;
    animation: slide 7s ease;
    animation-delay: 2s;
}
.hero-top h3 span{
    font-size: 2.7rem;
    font-weight: 800;
    background: linear-gradient(90deg, rgb(189, 189, 224), #f6adb4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-top h5{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}
.hero-top p{
    font-size: 1.8rem;
    font-weight: 800;
    background: linear-gradient(90deg, rgb(189, 189, 224), #f6adb4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slide 5s ease;
    animation-delay: 4s;
}

.hero-down-1{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: rgba(31, 38, 135, 0.37);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.hero-down-1 h4{
    color: #98989a;
    font-size: 18px;
}
.hero-down-1 p{
    border-radius: 5px;
    background:  #262626;
    font-size: 22px;
    padding: 1rem;
    color: white;
    cursor: pointer;
    animation: slide 5s ease;
    animation-delay: 5s;
}
/* .hero-down-1 p:hover{
    background: linear-gradient(100deg, darkblue, #800020);
    color: white;
} */

    /* background: linear-gradient(90deg, rgb(189, 189, 224), #f6adb4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
.hero-down2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
}
.hero-down2 a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    background: linear-gradient(100deg, darkblue, #800020);
    padding: .8rem;
    width: 100%;
    border-radius: 4px;
    color: white;
    transition: all .5s ease-in-out;
}
.hero-down2 a:hover{
    transform: translateY(-10%);
}

@keyframes slide{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@media screen and (max-width:768px){
    .hero{
        /* height: 0vh; */
        padding: .5rem;
        width: 100%;
        background: linear-gradient(rgba(18, 18, 45, 0.7), #29191b), url(/src/assets/hero.jpg);
        background-size: cover;
        background-position: center 60%;
        background-repeat: no-repeat;
    }
    .hero-top {
    gap: 1rem;
    width: 100%;
    margin: 4.5rem 0 0 0;
    padding: 1rem;   
}
.hero-top h5 {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    width: 100%;
}
.hero-top h3{
    font-size: 1.5rem;
    
}
.hero-top h3 span {
    font-size: 2rem;
    font-weight: 800;
    background: linear-gradient(90deg, rgb(189, 189, 224), #f6adb4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-top p{
    font-size: 1.8rem;
    font-weight: 800;
    background: linear-gradient(90deg, rgb(145, 144, 144), rgb(215, 219, 237));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slide 5s ease;
    animation-delay: 4s;
}
.hero-down-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    height: fit-content;
    background: rgba(31, 38, 135, 0.37);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.hero-down-1 p {
    width: 100%;
    padding: .3rem;
}
.hero-down2{
    display: flex;
    gap: .5rem;
    /* flex-direction: column; */
    /* margin: 2rem 0; */
}
}