.footer{
    display: flex;
    /* flex-direction: row; */
    background-color: #010b15;
    align-items: center;
    height: 8vh;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footer h3{
    font-size: 1.2rem;
    color: #6b0f1a;
    font-weight: 600;
    margin: auto;
    background: linear-gradient(90deg, rgb(189, 189, 224), #f6adb4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer h3 span{
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    .footer{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    .footer h3{
        font-size: 1rem;
        font-weight: 600;
        margin: auto;
        text-align: center;
        background: linear-gradient(90deg, rgb(189, 189, 224), #f6adb4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .footer h3 span{
        border-radius: 3px;
        font-size: 1rem;
        font-weight: 700;
    }
}